<h1 style='text-align:center'>NoSQL - Not Only SQL</h1>

## What is MongoDB

MongoDB stores data in flexible, JSON-like documents, meaning fields can vary from document to document and data structure can be changed over time

<b>Data Structure</b>

Single Entry = Document

```json
{ 
  _id: ObjectId(8af37bd7891c), 
  title: 'MongoDB Lab',
  description: 'Introductory lab on how to use MongoDB',
  by: 'Flatiron School',
  topics: ['mongodb', 'database', 'NoSQL', 'JSON']  
}
```

You can embed documents inside documents!

<img src ='images/househouse.gif' />

```json
{ 
  _id: ObjectId(8af37bd78ssc), 
  title: 'Other Lab',
  description: 'Introductory lab on how to use something',
  by: 'Flatiron School',
  topics: ['blah', 'blah', 'blah', 'blah'],
  author: {
            _id: ObjectId(83928shkjw183),
            name: 'Andy Enkeboll',
            building: 'Metropolitan Square'
          }
}
```

##### Why would we want to nest objects?

Multiple Documents = Collection

```json
{ 
  _id: ObjectId(8af37bd7891c), 
  title: 'MongoDB Lab',
  description: 'Introductory lab on how to use MongoDB',
  by: 'Flatiron School',
  topics: ['mongodb', 'database', 'NoSQL', 'JSON']  
}, 
{ 
  _id: ObjectId(8af37bd78ssc), 
  title: 'Other Lab',
  description: 'Introductory lab on how to use something',
  by: 'Flatiron School',
  topics: ['blah', 'blah', 'blah', 'blah']  
}
```

#### Working with MongoDB

Assuming you have installed/setup mongo and pip installed pymongo...

In [1]:
import pymongo
import requests

In [2]:
myclient = pymongo.MongoClient("mongodb://127.0.0.1:27017/")

# grab a database from your server 
mydb = myclient['example_data']

#t his can be a new one or an existing one
# (if it doesn't exist, it will get create when you write data into it)

In [3]:
myclient.list_database_names()

['admin',
 'config',
 'example_data',
 'example_db',
 'flatiron_db',
 'local',
 'silo',
 'test']

In [4]:
# initialize an empty collection - this where your 'documents' will go
mycollection = mydb['example_collection']

In [5]:
mydb.list_collection_names()

['newcollection', 'example_collection']

In [6]:
example_data = {'name': 'Jazz Doe', 'address': '123 Kings Street',
                'age': 28, 'children': ['Jane', 'Joe']}
mycollection.insert_one(example_data)

In [7]:
#get all the documents in a collection
query = mycollection.find({})

In [8]:
for document in query:
    print(document)

{'_id': ObjectId('5dba9c2248da28ac266c9c51'), 'name': 'Andy', 'address': 'Cornwall'}
{'_id': ObjectId('5dba9c2248da28ac266c9c52'), 'name': 'Marisa', 'address': 'London'}
{'_id': ObjectId('5dba9c2248da28ac266c9c53'), 'name': 'Ammar'}
{'_id': ObjectId('5dba9c3648da28ac266c9c54'), 'name': 'Andy', 'address': 'Cornwall'}
{'_id': ObjectId('5dba9c3648da28ac266c9c55'), 'name': 'Marisa', 'address': 'London'}
{'_id': ObjectId('5dba9c3648da28ac266c9c56'), 'name': 'Ammar'}
{'_id': ObjectId('5df1797cfbbfe1aec6b2a4a5'), 'name': 'Jazz Doe', 'address': '123 Kings Street', 'age': 28, 'children': ['Jane', 'Joe']}

In [9]:
example_data_2 = [
    {'name': 'Andy', 'address': 'Cornwall'},
    {'name': 'Marisa', 'address': 'London'},
    {'name': 'Ammar'}
                  ]
mycollection.insert_many(example_data_2)

In [10]:
query_1 = mycollection.find({})

In [11]:
for document in query_1:
    print(document)

{'_id': ObjectId('5dba9c2248da28ac266c9c51'), 'name': 'Andy', 'address': 'Cornwall'}
{'_id': ObjectId('5dba9c2248da28ac266c9c52'), 'name': 'Marisa', 'address': 'London'}
{'_id': ObjectId('5dba9c2248da28ac266c9c53'), 'name': 'Ammar'}
{'_id': ObjectId('5dba9c3648da28ac266c9c54'), 'name': 'Andy', 'address': 'Cornwall'}
{'_id': ObjectId('5dba9c3648da28ac266c9c55'), 'name': 'Marisa', 'address': 'London'}
{'_id': ObjectId('5dba9c3648da28ac266c9c56'), 'name': 'Ammar'}
{'_id': ObjectId('5df1797cfbbfe1aec6b2a4a5'), 'name': 'Jazz Doe', 'address': '123 Kings Street', 'age': 28, 'children': ['Jane', 'Joe']}
{'_id': ObjectId('5df1797cfbbfe1aec6b2a4a6'), 'name': 'Andy', 'address': 'Cornwall'}
{'_id': ObjectId('5df1797cfbbfe1aec6b2a4a7'), 'name': 'Marisa', 'address': 'London'}
{'_id': ObjectId('5df1797cfbbfe1aec6b2a4a8'), 'name': 'Ammar'}

In [12]:
query_2 = mycollection.find({'name': 'Jazz Doe'})

In [13]:
for document in query_2:
    print(document)

{'_id': ObjectId('5df1797cfbbfe1aec6b2a4a5'), 'name': 'Jazz Doe', 'address': '123 Kings Street', 'age': 28, 'children': ['Jane', 'Joe']}

In [14]:
#updating records is super easy! 
record_to_update = {'name' : 'Jazz Doe'}
update_1 = {'$set': {'age': 29, 'birthday': '2/8/1990'}}

mycollection.update_many(record_to_update, update_1)

In [15]:
#searching in a list in a document
query_4 = mycollection.find({'children': 'Jane'})
for item in query_4:
    print(item)

{'_id': ObjectId('5df1797cfbbfe1aec6b2a4a5'), 'name': 'Jazz Doe', 'address': '123 Kings Street', 'age': 29, 'children': ['Jane', 'Joe'], 'birthday': '2/8/1990'}

In [16]:
#removing a key:value from a document
update_2 = {'$unset': {'birthday': ''}}

mycollection.update_many(record_to_update, update_2)

In [17]:
query_5 = mycollection.find({'name': 'Jazz Doe'})
for item in query_5:
    print(item)

{'_id': ObjectId('5df1797cfbbfe1aec6b2a4a5'), 'name': 'Jazz Doe', 'address': '123 Kings Street', 'age': 29, 'children': ['Jane', 'Joe']}

In [18]:
#delete record
mycollection.delete_one({'name' : 'Jazz Doe'})

In [19]:
#delete all records
# mycollection.delete_many({})

### Working with Images

In [20]:
resp = requests.get('https://www.dictionary.com/e/wp-content/uploads/2018/04/mongo.jpg')

In [21]:
img = resp.content
newcollection = mydb['newcollection']

In [22]:
anewdict = {'a': 4, 'image': img}
newcollection.insert_one(anewdict)

In [23]:
_.inserted_id

ObjectId('5df1797dfbbfe1aec6b2a4a9')

In [25]:
from IPython.display import Image

results = newcollection.find_one({'_id': _})
newimg = results.get('image')

len(newimg)
# Image(newimg)
with open('./mongo.jpg', 'wb') as f:
    f.write(newimg)