![sql](img/sql-logo.jpg)

# A beginner's guide to databases, SQL, & using them with `pandas`

**Scenario:** You are a data analyst for the Homeland Security, trying to create reports on the active airports world wide. The data you need to access is in a SQL database. YOu need to be able to query for the data in a database!

## Goal 1: Summarize

[Netflix has a great article](https://medium.com/netflix-techblog/notebook-innovation-591ee3221233) describing three different data roles at their company, their different needs, and their toolsets.

![netflix](img/netflix-data-roles.jpeg)

Examining that graphic, SQL shows up as one of the tools of the _Data Engineer_

Data Engineers provide the essential data architecture services that make data science possible.

![hierarchy](img/ai-hierachy.png)

[Source: Monica Rogati’s fantastic Medium post “The AI Hierarchy of Needs”
](https://hackernoon.com/the-ai-hierarchy-of-needs-18f111fcc007)

![etl](img/etl.png)

[img source: Jeff Hammerbacher’s slide from UC Berkeley CS 194 course ](https://bcourses.berkeley.edu/courses/1377158/pages/cs-194-16-introduction-to-data-science-fall-2015)

### What is a Relational Database? 

![rdb](img/relational-dbms-model.png)
[reference for image ](https://www.studytonight.com/dbms/database-model.php)

### POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

***
## Goal 2: Database terminology

### Relational Database Schema

![schema](img/MySQL_Schema_Music_Example.png)

[source of image](https://database.guide/what-is-a-database-schema/)


[Leyend for the lines](https://www.conceptdraw.com/How-To-Guide/erd-entity-relationship-diagram-symbols)

### Table columns view
![table example](img/columns.png)

### Terminology

- Schema
- Primary Key
- Foreign Key
- Structured queries
- Views

***
### SQLite

![sqlite](img/SQLite-Python.jpg)

"SQLite is a C library that provides a lightweight disk-based database that doesn’t require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language. Some applications can use SQLite for internal data storage. It’s also possible to prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle." - [sqlite documentation](https://docs.python.org/2/library/sqlite3.html)

## But what about connecting to database servers?

To connect to an Oracle database server there is a different package, `cx_Oracle`. The documentation for that package is [here](https://oracle.github.io/python-cx_Oracle/)

***
## Anatomy of a SQL query

### Construct SQL queries

**Select**

**From**

**Where**

**Order by**

**Limit**

#### Options for each:

**Select**:  `distinct`, using `as` to rename columns, single number aggregates

**From:** also uses aliasing with `as`

**Where**: equals is only one `=`, `between`, `in`, wildcards `%`, `AND`, `OR`, `NOT`

**Order by**: `asc` and `desc`

**Limit**:  #

***
## Goal 3: Three ways to SQL queries in Data Science

In [7]:
import sqlite3

### Step1
#### Load a DB object with `connect` and `cursor` 
(only once per DB and session)

In [8]:
con = sqlite3.connect('flights.db')
cursor = con.cursor()

### Step 2
#### Prepare your query

In [9]:
query = """SELECT name
           FROM sqlite_master
           WHERE type='table'"""

### Step 3
`execute`<br>
Each time you use it, you reset the value of cursor

In [10]:
cursor.execute(query)

### Step 4
#### Making fetch happen

`.fetchall()` is how you get the query results out of the object.

You can also `.fetchone()` or `.fetchmany()`

In [12]:
print(cursor.fetchall())

[]

### All together now!

In [13]:
query = """SELECT name
           FROM sqlite_master
           WHERE type='table'"""
cursor.execute(query)
data = cursor.fetchall()
print(*data,sep="\n")

('airports',)
('airlines',)
('routes',)

### Same process for querying one table

In [14]:
query = """SELECT *
           FROM airports as a"""
cursor.execute(query)
data = cursor.fetchmany(2)
print(*data,sep="\n")

(0, '1', 'Goroka', 'Goroka', 'Papua New Guinea', 'GKA', 'AYGA', '-6.081689', '145.391881', '5282', '10', 'U', 'Pacific/Port_Moresby')
(1, '2', 'Madang', 'Madang', 'Papua New Guinea', 'MAG', 'AYMD', '-5.207083', '145.7887', '20', '10', 'U', 'Pacific/Port_Moresby')

#### Use description

In [15]:
cursor.description

(('index', None, None, None, None, None, None),
 ('id', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('city', None, None, None, None, None, None),
 ('country', None, None, None, None, None, None),
 ('code', None, None, None, None, None, None),
 ('icao', None, None, None, None, None, None),
 ('latitude', None, None, None, None, None, None),
 ('longitude', None, None, None, None, None, None),
 ('altitude', None, None, None, None, None, None),
 ('offset', None, None, None, None, None, None),
 ('dst', None, None, None, None, None, None),
 ('timezone', None, None, None, None, None, None))

#### Or use `Pragma`
`Pragma` tool [link here](https://www.sqlite.org/pragma.html#pragma_table_info)

**output**<br>
`(column id, column name, data type, whether or not the column can be NULL, and the default value for the column)`

In [16]:
cursor.execute("PRAGMA table_info(airports)")
info = cursor.fetchall()
print(*info, sep = "\n")

(0, 'index', 'INTEGER', 0, None, 0)
(1, 'id', 'TEXT', 0, None, 0)
(2, 'name', 'TEXT', 0, None, 0)
(3, 'city', 'TEXT', 0, None, 0)
(4, 'country', 'TEXT', 0, None, 0)
(5, 'code', 'TEXT', 0, None, 0)
(6, 'icao', 'TEXT', 0, None, 0)
(7, 'latitude', 'TEXT', 0, None, 0)
(8, 'longitude', 'TEXT', 0, None, 0)
(9, 'altitude', 'TEXT', 0, None, 0)
(10, 'offset', 'TEXT', 0, None, 0)
(11, 'dst', 'TEXT', 0, None, 0)
(12, 'timezone', 'TEXT', 0, None, 0)

## Goal 6: Transfering from sqlite to pandas

In [17]:
import pandas as pd
df = pd.read_sql_query(query, con)
df

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby
5,5,6,Wewak Intl,Wewak,Papua New Guinea,WWK,AYWK,-3.583828,143.669186,19,10,U,Pacific/Port_Moresby
6,6,7,Narsarsuaq,Narssarssuaq,Greenland,UAK,BGBW,61.160517,-45.425978,112,-3,E,America/Godthab
7,7,8,Nuuk,Godthaab,Greenland,GOH,BGGH,64.190922,-51.678064,283,-3,E,America/Godthab
8,8,9,Sondre Stromfjord,Sondrestrom,Greenland,SFJ,BGSF,67.016969,-50.689325,165,-3,E,America/Godthab
9,9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531203,-68.703161,251,-4,E,America/Thule
10,10,11,Akureyri,Akureyri,Iceland,AEY,BIAR,65.659994,-18.072703,6,0,N,Atlantic/Reykjavik
11,11,12,Egilsstadir,Egilsstadir,Iceland,EGS,BIEG,65.283333,-14.401389,76,0,N,Atlantic/Reykjavik
12,12,13,Hornafjordur,Hofn,Iceland,HFN,BIHN,64.295556,-15.227222,24,0,N,Atlantic/Reykjavik
13,13,14,Husavik,Husavik,Iceland,HZK,BIHU,65.952328,-17.425978,48,0,N,Atlantic/Reykjavik
14,14,15,Isafjordur,Isafjordur,Iceland,IFJ,BIIS,66.058056,-23.135278,8,0,N,Atlantic/Reykjavik
15,15,16,Keflavik International Airport,Keflavik,Iceland,KEF,BIKF,63.985,-22.605556,171,0,N,Atlantic/Reykjavik
16,16,17,Patreksfjordur,Patreksfjordur,Iceland,PFJ,BIPA,65.555833,-23.965,11,0,N,Atlantic/Reykjavik
17,17,18,Reykjavik,Reykjavik,Iceland,RKV,BIRK,64.13,-21.940556,48,0,N,Atlantic/Reykjavik
18,18,19,Siglufjordur,Siglufjordur,Iceland,SIJ,BISI,66.133333,-18.916667,10,0,N,Atlantic/Reykjavik
19,19,20,Vestmannaeyjar,Vestmannaeyjar,Iceland,VEY,BIVM,63.424303,-20.278875,326,0,N,Atlantic/Reykjavik
20,20,21,Sault Ste Marie,Sault Sainte Marie,Canada,YAM,CYAM,46.485001,-84.509445,630,-5,A,America/Toronto
21,21,22,Winnipeg St Andrews,Winnipeg,Canada,YAV,CYAV,50.056389,-97.0325,760,-6,A,America/Winnipeg
22,22,23,Shearwater,Halifax,Canada,YAW,CYAW,44.639721,-63.499444,167,-4,A,America/Halifax
23,23,24,St Anthony,St. Anthony,Canada,YAY,CYAY,51.391944,-56.083056,108,-3.5,A,America/St_Johns
24,24,25,Tofino,Tofino,Canada,YAZ,CYAZ,49.082222,-125.7725,80,-8,A,America/Vancouver
25,25,26,Kugaaruk,Pelly Bay,Canada,YBB,CYBB,68.534444,-89.808056,56,-7,A,America/Edmonton
26,26,27,Baie Comeau,Baie Comeau,Canada,YBC,CYBC,49.1325,-68.204444,71,-5,A,America/Toronto
27,27,28,Bagotville,Bagotville,Canada,YBG,CYBG,48.330555,-70.996391,522,-5,A,America/Toronto
28,28,29,Baker Lake,Baker Lake,Canada,YBK,CYBK,64.298889,-96.077778,59,-6,A,America/Winnipeg
29,29,30,Campbell River,Campbell River,Canada,YBL,CYBL,49.950832,-125.270833,346,-8,A,America/Vancouver
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8077,8077,9512,Port of Seattle,Seattle,United States,None,PSEA,47.609178,-122.350605,0,-8,A,America/Los_Angeles
8078,8078,9513,Ferry Terminal,Whittier,United States,None,WHIT,60.776566,-148.683367,0,-9,A,America/Anchorage
8079,8079,9514,Ferry Terminal,Valdez,United States,None,VLDZ,61.123976,-146.365309,0,-9,A,America/Anchorage
8080,8080,9515,Gare Routiere,Saint-Louis,Reunion,None,STLS,-21.289604,55.407269,103,4,E,Indian/Reunion
8081,8081,9516,Bus Stop,La Riviere,Reunion,None,LRIV,-21.272574,55.437706,190,4,E,Indian/Reunion
8082,8082,9517,Bus Stop,Cilaos,Reunion,None,CILS,-21.135518,55.472087,4000,4,E,Indian/Reunion
8083,8083,9518,Bus Stop,Hell-Bourg,Reunion,None,HLBG,-21.06402,55.518453,3000,4,E,Indian/Reunion
8084,8084,9519,Bus Stop,Salazie,Reunion,None,SLZI,-21.027485,55.538955,3000,4,E,Indian/Reunion
8085,8085,9520,Gare,St Andre,Reunion,None,ANDR,-20.963272,55.652508,100,4,E,Indian/Reunion
8086,8086,9521,L'Ocean Bus Terminal,Saint Denis,Reunion,None,SDNS,-20.877683,55.457393,0,4,E,Indian/Reunion
8087,8087,9522,Gare Routiere,Saint Pierre,Reunion,None,STPR,-21.33424,55.471331,0,4,E,Indian/Reunion
8088,8088,9523,Baie Ste Anne,Praslin,Seychelles,None,PLIN,-4.347119,55.765688,0,4,N,Indian/Mahe
8089,8089,9524,La Passe,La Digue,Seychelles,None,LADG,-4.347969,55.829069,0,4,N,Indian/Mahe
8090,8090,9525,Ferry Dock,Bainbridge Island,United States,None,BAIN,47.622237,-122.509362,0,-8,A,America/Los_Angeles
8091,8091,9526,Bus,Phnom Penh,Cambodia,None,PNMP,11.561716,104.914276,0,7,N,Asia/Phnom_Penh
8092,8092,9527,Bus,Siem Reap,Cambodia,None,SMRP,13.361002,103.859543,0,7,N,Asia/Phnom_Penh
8093,8093,9528,Bus,Sihanoukville,Cambodia,None,SNKV,10.60722,103.524886,0,7,N,Asia/Phnom_Penh
8094,8094,9529,Bus,Kampot,Cambodia,None,KMPT,10.614922,104.177724,0,7,N,Asia/Phnom_Penh
8095,8095,9530,Bus,Kep,Cambodia,None,KEPC,10.480174,104.294228,0,7,N,Asia/Phnom_Penh
8096,8096,9531,Main Station,Taipei,Taiwan,None,TPEI,25.046176,121.517532,0,8,N,Asia/Taipei
8097,8097,9532,Prominent Hill,Prominent Hill,Australia,PXH,YPMH,-29.716667,135.521667,734,9.5,O,Australia/Adelaide
8098,8098,9533,Chatsworth Station,Chatsworth,United States,CWT,\N,34.256944,-118.598889,978,-8,A,America/Los_Angeles
8099,8099,9534,Algerciras Port,Algerciras,Spain,None,\N,36.136,-5.435,0,1,E,Europe/Madrid
8100,8100,9535,Ganges Water Aerodrome,Ganges,Canada,YGG,\N,48.85,-123.5,0,-8,A,America/Vancouver
8101,8101,9536,Pender Harbour Water Aerodrome,Pender Harbour,Canada,YPT,\N,49.616667,-124.016667,0,-8,A,America/Vancouver
8102,8102,9537,Mansons Landing Water Aerodrome,Mansons Landing,Canada,YMU,\N,50.066667,-124.983333,0,-8,A,America/Vancouver
8103,8103,9538,Port McNeill Airport,Port McNeill,Canada,YMP,\N,50.575556,-127.028611,225,-8,A,America/Vancouver
8104,8104,9539,Sullivan Bay Water Aerodrome,Sullivan Bay,Canada,YTG,\N,50.883333,-126.833333,0,-8,A,America/Vancouver
8105,8105,9540,Deer Harbor Seaplane,Deer Harbor,United States,DHB,\N,48.618397,-123.00596,0,-8,A,America/Los_Angeles
8106,8106,9541,San Diego Old Town Transit Center,San Diego,United States,OLT,\N,32.7552,-117.1995,0,-8,A,America/Los_Angeles

In [18]:
df.query('name == "Nadzab"')

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby

**Task**: 
- Select only active airlines in the UK from the airlines table
- Select the unique list of countries with airports

In [29]:
# query = """SELECT * FROM airlines"""
# df = pd.read_sql_query(query, con)
# df

# query = """SELECT * FROM airlines WHERE country = 'United Kingdom'"""
# df = pd.read_sql_query(query, con)
# df

query = """SELECT DISTINCT country FROM airports"""
df_2 = pd.read_sql_query(query, con)
df_2

                           country
0                 Papua New Guinea
1                        Greenland
2                          Iceland
3                           Canada
4                          Algeria
5                            Benin
6                     Burkina Faso
7                            Ghana
8                    Cote d'Ivoire
9                          Nigeria
10                           Niger
11                         Tunisia
12                            Togo
13                         Belgium
14                         Germany
15                   United States
16                         Estonia
17                         Finland
18                  United Kingdom
19                        Guernsey
20                          Jersey
21                     Isle of Man
22                Falkland Islands
23                     Netherlands
24                         Ireland
25                         Denmark
26                   Faroe Islands
27                      Luxembourg
28                          Norway
29                          Poland
..                             ...
210                      Singapore
211               Christmas Island
212                 Norfolk Island
213                          China
214                          Korea
215                       Mongolia
216                         Latvia
217                      Lithuania
218                        Armenia
219                        Eritrea
220                      Palestine
221                          Yemen
222                        Georgia
223                        Bermuda
224                Solomon Islands
225                          Nauru
226                         Tuvalu
227                        Namibia
228                       Djibouti
229                     Montserrat
230                         Monaco
231                 Johnston Atoll
232                           Niue
233                 Western Sahara
234        Cocos (Keeling) Islands
235  South Georgia and the Islands
236                        Myanmar
237                       Svalbard
238                    North Korea
239                    Wake Island

[240 rows x 1 columns]

### SQL Joins

SQL joins can be used to both **add** data to a table and **remove** data from a table.

![venn](img/venn.png)

**Task** Write a query that will join the latitude and longitude data from the airports table to the information on the routes table

### Grouping statements

Combines `select` and `group by` when you want aggregates by values

`select` `min(x)` ... `max()`, `sum()`, etc

`group by x`

**Task**<br>
- Which countries have the highest amount of active airports?
- Which countries have the highest amount of inactive airports?
- What about airports by timezones?

## Integration

The [Chinook database](https://github.com/lerocha/chinook-database) is a sample database, representing a digital media store.

You need to create a query that can rank tracks in term of popularity.

The name of the database is `Chinook_Sqlite.sqlite`

Database information:<br>
- How many tables are in the database?
- What's the primary key of each table?
- What foreign keys join the tables together?
- If you had to draw a schema of how the tables are connected, what would it look like?

To answer the question:<br>
- What are the max and min dates in the Invoice table?
- What tables would you need to answer "what is your most popular track?"
- What values from each table?

## Reflection